* {
    background-color: black;
}

/* header{
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

a {
    color: aqua;
}

body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.primary {
    color: antiquewhite;
    font-size: 50px;
}

/* main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */
/* main p{
    margin: 40px 40px  ;
} */
/* footer{
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */
/* footer p ,img,cite{
    margin: 15px;
} */
.secondary {
    color: gray;
    font-size: 21px;
}

cite {
    color: gray;

    margin-right: 0px;
}